/*COLORS & STYLES
All Font: Poppins
Large Fonts: Brown #807665  
Small Fonts: Dark Brown #5D554D
Brick Color: #9F5925 (pops of color,  hyperlinks)
Light Pink: #F4EFEB
Background: white, #8b7b6e, #eceae9, 
*/
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #f4efeb;
  height: 100px;
}

header h4 {
  color: #807665;
  font-size: 1.5em;
  margin-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2em;
}

header h6 {
  color: #807665;
  font-size: 1em;
  margin-left: 2.25em;
  margin-top: 0;
}

#content {
  text-align: center;
}

#dashboard {
  padding: 2em;
  color: #8b7b6e;
}

#tabletop {
  width: 95%;
  margin: auto;
  background-color: #eceae9;
  border: solid #807665 1px;
  border-radius: 20px;
}

.placeholders,
.deck,
.discard,
.maybe {
  padding-bottom: 2em;
}

.placeholder {
  display: inline-block;
  margin: 20px;
  padding: 2em;
  color: #8b7b6b;
  background-color: white;
  border: 1px solid #807665;
  border-radius: 20px;
  fill-opacity: 0;
}

.btn {
  padding: 2em;
  color: #807665;
  background-color: white;
  border: 1px solid #807665;
  border-radius: 20px;
}
